{% extends "layout/application.njk" %}

{% block link %}
	{# <link rel="stylesheet" href={{ assetsPath('home.css') }} /> #}
{% endblock %}

{% block body %}
	<a href="/projects/{{ projectId }}/apis/new">new api</a><br /><br />
	project apis:<br /><br />
	{% for api in apis %}
		{{ api.name }} <a href="/projects/{{ projectId }}/apis/{{ api._id }}">查看</a><br /><br />
	{% endfor %}
{% endblock %}

{% block script %}
  {# <script src={{ assetsPath('home.js') }}></script> #}
{% endblock %}
