{% extends "layout/application.njk" %}

{% block link %}

{% endblock %}

{% block body %}
	<div class="container main">
		<a href="/projects/{{ projectId }}/apis/new" class="btn btn-success">新api</a>
		<a class="btn btn-warning pull-right" href="/projects/{{ projectId }}">返回</a><br /><br />
		<div class="panel panel-default">
			<div class="panel-heading">api列表</div>
			<table class="table table-hover">
				<tr>
					<th>名称</th>
					<th>描述</th>
					<th>url</th>
					<th>method</th>
					<th>操作</th>
				</tr>
				{% for api in apis %}
					<tr>
						<td><a href="/projects/{{ projectId }}/apis/{{ api._id  }}">{{ api.name }}</a></td>
						<td>{{ api.desc }}</td>
						<td><p class="max-300">{{ api.url }}</p></td>
						<td>{{ api.http_method }}</td>
						<td>
							<a class="inline btn btn-warning" href="/projects/{{ projectId }}/apis/{{ api._id }}/edit">编辑</a>
							<form class="inline" method="post" action="/projects/{{ projectId }}/apis/{{ api._id }}">
								<input type="hidden" name="_method" value="delete" />
								<input type="hidden" name="_csrf" value="{{ csrf }}" />
								<button class="btn btn-danger" type="submit">删除</button>
							</form>
						</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>

{% endblock %}

{% block script %}

{% endblock %}
