{% extends "layout/application.njk" %}

{% block link %}

{% endblock %}

{% block body %}
	<div class="container main">
		<a class="btn btn-warning pull-right" href="/projects/{{ projectId }}/records">返回</a>
		<br /><br />
		<div class="panel panel-primary">
			<div class="panel-heading">请求记录-{{ record._id }}</div>
				<div class="list-group">
					<a href="#" class="list-group-item">
						<h4 class="list-group-item-heading">项目名称</h4>
					</a>
					<p class="list-group-item-text">{{ record.project.name }}</p>
				</div>
				<div class="list-group">
					<a href="#" class="list-group-item">
						<h4 class="list-group-item-heading">api名称</h4>
					</a>
					<p class="list-group-item-text">{{ record.api.name }}</p>
				</div>
				<div class="list-group">
					<a href="#" class="list-group-item">
						<h4 class="list-group-item-heading">状态码</h4>
					</a>
					<p class="list-group-item-text">{{ record.status_code }}</p>
				</div>
				<div class="list-group">
					<a href="#" class="list-group-item">
						<h4 class="list-group-item-heading">响应</h4>
					</a>
					<p class="list-group-item-text">{{ record.response }}</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block script %}

{% endblock %}
