{% extends "layout/application.njk" %}

{% block link %}

{% endblock %}

{% block body %}
	<div class="jumbotron">
		<div class="container">
			<h1>欢迎来到 API Rush!</h1>
			<p>这是一个可以帮助你文档化项目中的Web API和自动运行测试的平台。</p>
			<p><a class="btn btn-primary btn-lg" href="/projects/new" role="button">创建项目 &raquo;</a></p>
		</div>
	</div>
{% endblock %}

{% block script %}

{% endblock %}
