<!DOCTYPE html>
<html>
	<head>
		{% block title %}
			<title>API Rush</title>
		{% endblock %}

		<meta name="renderer" content="webkit">
		<meta name="force-rendering" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<meta charset="UTF-8">
		<meta name="csrf-param" content="_csrf">
		<meta name="csrf-token" content={{ csrf }}>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

		{% block seo %}

		{% endblock %}

		{% if not isDevEnv %}
			<link rel="stylesheet" href={{ assetsPath('common.css') }} />
			<link rel="stylesheet" href={{ assetsPath('site.css') }} />
			{% block link %}

			{% endblock %}
		{% endif %}

	</head>
	<body>
		<div class="home">
			{% include "./nav.njk" %}
			{% include "./message.njk" %}
			{% block body %}

			{% endblock %}
		</div>
		{% include "./footer.njk" %}

		<script src={{ assetsPath('jquery-2.2.4.min.js') }}></script>
		<script src={{ assetsPath("common.js") }}></script>
		<script src={{ assetsPath("site.js") }}></script>

		{% if _data %}
			<script>
				window._data = {{ _data | safe }}
			</script>
		{% endif %}

		{% block script %}

		{% endblock %}
	</body>

</html>
