{# 分页器 #}

{% if meta and meta.totalPages > 1 %}
  {% set currentPage = meta.currentPage | int %}
  {% set totalPages = meta.totalPages | int %}
  {% set nextPage = meta.nextPage | int %}
  {% set prevPage = meta.prevPage | int %}
  {% set pageName = 'page' %}
  {% if data.pageName %}
    {% set pageName = data.pageName %}
  {% endif %}
  {% set path = viewHelper.path.page(context, pageName) + pageName + '=' %}

  {% set low = 0 %}
  {% set high = 0 %}

  {# 设置起始页码 #}
  {% if currentPage <= 5 %}
    {% set low = 1 %}
  {% else %}
    {% set low = currentPage - 4 %}
  {% endif %}

  {# 设置终止页码 #}
  {% if currentPage + 4 <= totalPages %}
    {% set high = currentPage + 5 %}
  {% else %}
    {% set high = totalPages + 1 %}
  {% endif %}

  {% if currentPage == 1 %}
    {# 当前在第一页 #}
    <nav aria-label="">
      <ul class="pagination">
        <li class="active"><a href="#">{{ currentPage }}<span class="sr-only">(current)</span></a></li>
        {% for page in range(low + 1, high) %}
          <li><a href="/{{ path }}{{ page }}">{{ page }}<span class="sr-only"></span></a></li>
        {% endfor %}
        <li><a href="/{{ path }}{{ nextPage }}">下一页 ><span class="sr-only"></span></a></li>
        <div class="paginate-total">
          <p>共 {{ totalPages }} 页</p>
        </div>
      </ul>
    </nav>
  {% elif currentPage == totalPages %}
    {# 当前在最后一页 #}
    <nav aria-label="">
      <ul class="pagination">
        <li><a href="/{{ path }}{{ prevPage }}">< 上一页<span class="sr-only"></span></a></li>
        {% for page in range(low, high - 1) %}
          <li><a href="/{{ path }}{{ page }}">{{ page }}<span class="sr-only"></span></a></li>
        {% endfor %}
        <li class="active"><a href="#">{{ currentPage }}<span class="sr-only">(current)</span></a></li>
        <div class="paginate-total">
          <p>共 {{ totalPages }} 页</p>
        </div>
      </ul>
    </nav>
  {% else %}
    {# 当前在中间页 #}
    <nav aria-label="">
      <ul class="pagination">
        <li><a href="/{{ path }}{{ prevPage }}">< 上一页<span class="sr-only"></span></a></li>
        {# 当前页前面 #}
        {% for page in range(low, currentPage) %}
          <li><a href="/{{ path }}{{ page }}">{{ page }}<span class="sr-only"></span></a></li>
        {% endfor %}
        <li class="active"><a href="#">{{ currentPage }}<span class="sr-only">(current)</span></a></li>
        {# 当前页后面 #}
        {% for page in range(currentPage + 1, high) %}
          <li><a href="/{{ path }}{{ page }}">{{ page }}<span class="sr-only"></span></a></li>
        {% endfor %}
        <li><a href="/{{ path }}{{ nextPage }}">下一页 ><span class="sr-only"></span></a></li>
        <div class="paginate-total">
          <p>共 {{ totalPages }} 页</p>
        </div>
      </ul>
    </nav>
  {% endif %}
{% endif %}
