{% extends "layout/application.njk" %}

{% block link %}
	{# <link rel="stylesheet" href={{ assetsPath('home.css') }} /> #}
{% endblock %}

{% block body %}
	404 Not Found
{% endblock %}

{% block script %}
	{# <script src={{ assetsPath('home.js') }}></script> #}
{% endblock %}
