{% extends "layout/application.njk" %}

{% block link %}
	{# <link rel="stylesheet" href={{ assetsPath('home.css') }} /> #}
{% endblock %}

{% block body %}
	编辑项目<br /><br />
  <form method="post" action="/projects/{{ project._id }}">
		<input type="hidden" name="_method" value="put" />
		<input type="hidden" name="_csrf" value="{{ csrf }}" />
    名称: <input type="text" name="name" value="{{ project.name }}"/><br /><br />
		描述: <textarea type="text" name="desc" rows=10 cols=30>{{ project.desc }}</textarea><br /><br />
    <button type="submit">提交</button>
  </form>
	<br />
	<a href="/projects">返回</a>
{% endblock %}

{% block script %}
  {# <script src={{ assetsPath('home.js') }}></script> #}
{% endblock %}
