{% extends "layout/application.njk" %}

{% block link %}

{% endblock %}

{% block body %}
	<div class="container main">
		<h3>编辑项目</h3><a class="btn btn-warning pull-right" href="/projects">返回</a>
		<form class="col-sm-3" method="post" action="/projects/{{project._id}}">
			<input type="hidden" name="_method" value="put" />
			<input type="hidden" name="_csrf" value="{{ csrf }}" />
		  <div class="form-group">
		    <label for="name">项目名称</label>
		    <input type="text" class="form-control" id="name" name="name" placeholder="项目名称" value="{{ project.name }}">
		  </div>
		  <div class="form-group">
		    <label for="desc">描述</label><br />
				<textarea class="form-control" type="text" name="desc" rows=5 placeholder="项目描述">{{ project.desc }}</textarea>
		  </div>
		  <button type="submit" class="btn btn-default">提交</button>
		</form>
	</div>
{% endblock %}

{% block script %}

{% endblock %}
