{% extends "layout/application.njk" %}

{% block link %}

{% endblock %}

{% block body %}
	<div class="container main" id="projects">
		<a href="/projects/new" class="btn btn-success">新项目</a><br /><br />
		<div class="panel panel-default">
			<div class="panel-heading">项目列表</div>
			<table class="table table-hover">
				<tr>
					<th>项目名称</th>
					<th>描述</th>
					<th>操作</th>
				</tr>
				{% for project in projects %}
					<tr>
						<td><a href="/projects/{{ project._id }}">{{ project.name }}</a></td>
						<td>{{ project.desc }}</td>
						<td>
							<a class="inline btn btn-warning" href="/projects/{{ project._id }}/edit">编辑</a>
							<form class="inline" method="post" action="/projects/{{ project._id }}" onsubmit="return checkDelete('确认要删除吗?')">
								<input type="hidden" name="_method" value="delete" />
								<input type="hidden" name="_csrf" value="{{ csrf }}" />
								<button class="btn btn-danger" type="submit">删除</button>
							</form>
						</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
{% endblock %}

{% block script %}

{% endblock %}
