{% extends "layout/application.njk" %}

{% block link %}
	{# <link rel="stylesheet" href={{ assetsPath('home.css') }} /> #}
{% endblock %}

{% block body %}
	create project<br /><br />
  <form method="post" action="/projects">
    name: <input type="text" name="name" /><br /><br />
		desc: <textarea type="text" name="desc" rows=10 cols=30></textarea><br /><br />
    <button type="submit">提交</button>
  </form>
	<br />
	<a href="/projects">返回</a>
{% endblock %}

{% block script %}
  {# <script src={{ assetsPath('home.js') }}></script> #}
{% endblock %}
