{% extends "layout/application.njk" %}

{% block link %}
	{# <link rel="stylesheet" href={{ assetsPath('home.css') }} /> #}
{% endblock %}

{% block body %}
	项目详情<br /><br />
	<a href="/projects/{{ project._id }}/apis/new">新api</a>
	<a href="/projects/{{ project._id }}/apis">api列表</a><br /><br />
	name: {{ project.name }}<br /><br />
  desc: {{ project.desc }}<br /><br />
	<a href="/projects">返回</a>
{% endblock %}

{% block script %}
  {# <script src={{ assetsPath('home.js') }}></script> #}
{% endblock %}
